<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
      name="viewport"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/vite.svg"
    />
    <title><%= projectName %></title>
  </head>
  <body>
    <div
      id="root"
      class="h-[100vh] bg-gray-50 overflow-y-auto text-[14px] leading-none"
    ></div>
    <script
      type="module"
      src="/src/main.tsx"
    ></script>
  </body>
</html>
