{
  "*.{md,json,css,less,html,svg}": [
    "prettier --cache --write"
  ],
  "*.{js,jsx,vue}": [
    "oxlint --fix",
    "prettier --cache --write"
  ],
  "*.{ts,tsx}": [
    "oxlint --fix",
    "prettier --cache --parser=typescript --write"
  ]
}