{
  "experimentalTernaries": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "always",
  "endOfLine": "auto",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson"]
}
